
#i1{
    color: red;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 10cqmax;
}
#l1{
    color: red;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.b1{
    background-color: greenyellow;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}